.cartkv{
    width: 100%;
    height: 100vh;
    margin-top: 70px;
}
.cartsumcontent{
    margin: 10px 0xp;
}
.cartsum{
    width: 100%;
    margin: 10px auto;
}
.backtoshop a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.cartbtn > button{
    width: 100%;
}