.footerbg{
    width: 100%;
    height: 30vh;
    background-color: rgb(0, 0, 0);
}
.footerbg > .row{
    height: 30vh;
    text-align: center;
}
.text{
    color: rgb(255, 255, 255);
    font-size: 45px;
}
.sub_text{
    color: rgb(6,193,103);
    font-size: 35px;
   
}
@media(max-width:768px){ 
    .text{
        font-size: 25px;
    }
    .sub_text{
        font-size: 20px;
       
    }
}