nav{
    background-color: rgba(80, 67, 161, 0.7);
}
.navbar {
    position: fixed;
    width: 100%;
    transition: all 0.3s ease 0s;
    z-index: 100;
}
.nav-item {
    margin-right: 15px;
}
div ul li a i {
    font-size: 20px;
}
